<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>
<center>
  <h1><%=link_to "Market User",markets_index_path %></h1>
  <h1><%= link_to "Vendor user", vendors_index_path %></h1>
</section>
