
<section>

<section>
  <%=image_tag("lady_flower.jpg", size: "500x600", alt:"Veggie art", class: "home")%>
<h1 id="welcome">Welcome to FarMarRails!</h1>
<p>Gumbo beet greens corn soko endive gumbo gourd. Parsley shallot courgette tatsoi pea sprouts fava bean collard greens dandelion okra wakame tomato. Dandelion cucumber earthnut pea peanut soko zucchini.</p>

<p>Turnip greens yarrow ricebean rutabaga endive cauliflower sea lettuce kohlrabi amaranth water spinach avocado daikon napa cabbage asparagus winter purslane kale. Celery potato scallion desert raisin horseradish spinach carrot soko. Lotus root water spinach fennel kombu maize bamboo shoot green bean swiss chard seakale pumpkin onion chickpea gram corn pea. Brussels sprout coriander water chestnut gourd swiss chard wakame kohlrabi beetroot carrot watercress. Corn amaranth salsify bunya nuts nori azuki bean chickweed potato bell pepper artichoke.</p>

<p>Nori grape silver beet broccoli kombu beet greens fava bean potato quandong celery. Bunya nuts black-eyed pea prairie turnip leek lentil turnip greens parsnip. Sea lettuce lettuce water chestnut eggplant winter purslane fennel azuki bean earthnut pea sierra leone bologi leek soko chicory celtuce parsley jícama salsify.</p>

  <!-- <%=image_tag("vegetable-art-face.jpg", size: "500x600", alt:"Veggie art", class: "home2")%> -->
</section>
  <!-- <h1 class="right"><%=link_to "Market User",markets_index_path %></h1>
  <h1 class="right"><%= link_to "Vendor user", vendors_index_path%></h1> -->
</section>
