
<%=image_tag("pike5.jpg", size: "200x200", alt:"Veggie art", class:"hero")%>
<h1 class="center">All Vendors</h1>

<% @vendors.each do |vendor|%>
<article>
  <h2> <%= link_to(vendor.name, vendors_show_path(vendor[:id])) %></h2>
    <%end%>

</article>
