<h1>My Vendor Account</h1>
<article>
  <h2> <%= link_to(@myvendor.name) %></h2>
    <h3> My Total Sales<h3>
      <p><%= @total %></p>
      <p><%= link_to('Edit', vendors_edit_path(@myvendor.id)) %></p>

</article>
