<h1>Markets#index</h1>
<p>Find me in app/views/markets/index.html.erb</p>
<% @markets.each do |market| %>
<%= link_to(market.name, show_path(market.id)) %>
<%= "#{market.name}: #{market[:city]}, #{market[:state]}"  %>
<% end %>
